body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 150px;
    width:150px;
    background-color: blueviolet;
    border-radius: 20%;
    border: 10px solid black; 
    margin: 10px;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.flash{
    background-color: white;
}
